<?xml version="1.0" ?>
<openbox_menu>
  <menu id="root-menu" label="">

    <separator label="Apps"/>

    <item label="Terminal">
      <action name="Execute" command="alacritty" />
    </item>
    <item label="Firefox">
      <action name="Execute" command="firefox" />
    </item>
    <item label="Steam">
      <action name="Execute" command="steam" />
    </item>

    <menu id="system-menu" label="System">
      <item label="Reboot">
        <action name="Execute" command="reboot" />
      </item>
      <item label="Shutdown">
        <action name="Execute" command="shutdown -h now" />
      </item>
      <item label="Logout">
        <action name="Exit" />
      </item>
    </menu>

    <menu id="settings-menu" label="Settings">
      <item label="Audio">
        <action name="Execute" command="alacritty --command=wiremix" />
      </item>
      <item label="Bluetooth">
        <action name="Execute" command="alacritty --command=bluetui" />
      </item>
      <item label="Internet">
        <action name="Execute" command="alacritty --command=nmtui" />
      </item>
    </menu>

  </menu>
</openbox_menu>
